<!-- views/random-beer.hbs -->
{{#each responseFromAPI}}
<div class="random-container">
    <div>
        <img src="{{ image_url }}" alt="{{ name }}">
    </div>
    <div class="text-container">
        <h1>{{name}}</h1>
        <h2>{{tagline}}</h2>
        <p>{{description}}</p>
        <h3>Food Pairing</h3>
        <ul>
            {{#each food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p><span>Brewers Tips: </span>{{brewers_tips}}</p>
    </div>
</div>
{{/each}}